.nav li {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  padding-top: 10px;
}

.jumbotron .container {
  position: relative;
  top: 10px;
  padding-left: auto;
  padding-right: auto;
}

.jumbotron {
  height: 200px;
  background-color: #FFF5E0;
}
