.nav li {
  position: relative;
  display: inline-block;
}

.jumbotron .container {
  position: relative;
  top: 10px;
  left: auto;
  right: auto;
}

.jumbotron {
  height: 200px;
  background-color: #FFF5E0;
}

body {
  font-family: 'Lato', sans-serif;
}
