.nav li {
    position: relative;
    display: inline;
    padding-right: 20px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover { 
    color: aqua;
}

.jumbotron .container {
  position: relative;
}

.jumbotron {
  height: 200px;
  background-color: #FFF5E0;
  padding-left: 200px;
  padding-top: 100px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: floralwhite;
}
.nav ul {
    padding-left: 200px;
}

.nav {
    background-color: ghostwhite;
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
}

.content {
    padding-left: 100px;
}